<div id="top-bar" class="container sticky-top">
    <div class="row">
        <div class="col-lg-2">
            <div>
                <img id="logo" src="../../../assets/logos/GIPHY Transparent 180px.png " alt="logo" width=160>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="position-relative ">
                <input type="text " class="w-100 ">
                <div id="search-button">
                    <img src="../../../assets/search-icon.svg " alt="search-icon">
                </div>
            </div>
        </div>
    </div>
</div>