<div class="page-container">
    <div id="top-bar" class="container-fluid p-0 pt-2 pb-2">
        <div class="row">
            <div class="col-2 m-0 p-0">
                <div>
                    <img id="logo" src="../../../assets/logos/GIPHY Transparent 180px.png" alt="logo" width=160>
                </div>
            </div>
            <div class="col-10 pl-4">
                <div class="position-relative">
                    <input type="text" class="w-100">
                    <div class="bg-primary" id="search-button">
                        <img src="../../../assets/search-icon.svg" alt="search-icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-trending-homepage></app-trending-homepage>
</div>