.image {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: #1a1a1a;
}

.col-lg-3,
.col-md-4,
.col-sm-6 {
    padding: 5px;
}

h2 {
    font-family: "Helvetica";
    font-weight: 600;
    font-size: 14px;
    color: #a6a6a6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.load-more-button {
    display: block;
    margin: 35px auto 35px auto;
    border-radius: 0;
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 40%, rgb(153, 51, 255) 100%);
    background-size: 400%;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}